# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests, json
import gmaps
# import json
import os

# Import API key
from config import key

In [2]:
# Load city data from WeatherPy
city_data = "../WeatherPy/Output/city_data.csv"
city_data_df = pd.read_csv(city_data, index_col=[0], encoding="ISO-8859-1")
city_data_df.head()
city_data_df.dtypes

City_Name       object
City_Lat       float64
City_Long      float64
Temperature    float64
Humidity         int64
Cloudiness       int64
Wind_Speed     float64
Country         object
Date            object
dtype: object

In [3]:
# Rename columns and create new dataframe with dropped NA values 
city_data_df = city_data_df.rename(columns={'City_Name': 'City', 'City_Lat': 'Latitude', 
                                            'City_Long': 'Longitude', 'Wind_Speed': 'Wind Speed'})

city_loc = city_data_df.dropna(axis = 0, how ='any')
# city_data_cleandf = city_data_dropna[(city_data_dropna != 0).all(1)]

# comparing sizes of data frames
print("Old data frame length:", len(city_data_df), "\nNew data frame length:", 
       len(city_loc), "\nNumber of rows with at least 1 NA value: ",
       (len(city_data_df)-len(city_loc)))
city_loc.to_csv("./output_data/city_loc.csv")

Old data frame length: 645
New data frame length: 639
Number of rows with at least 1 NA value:  6

### Humidity Heatmap

In [4]:
# Configure gmaps
gmaps.configure(api_key=key)

# Set Locations for the heatmap
locations = city_loc[["Latitude", "Longitude"]]

humidity = city_loc["Humidity"].astype(float)

In [5]:
# Plot humidity heatmap
fig = gmaps.figure()

# Create humidity heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=100, point_radius=3)
# Add layer and display fig
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Ideal Weather Conditions

In [6]:
# Create new dataframe based on indicated parameters
ideal_cities = city_loc[(city_loc['Temperature']>70) & (city_loc['Temperature']<90) 
                   & (city_loc['Humidity']>30) & (city_loc['Humidity']<70) 
                   & (city_loc['Wind Speed']<10) & (city_loc['Cloudiness']<30)]
ideal_cities.head()
# len(ideal_cities)    #---- used to check number of cities that meet criteria; uncomment to enable

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
13,Rome,34.2570,-85.1647,84.45,42,1,1.99,US,2021-06-17 17:57:41
14,Guarapari,-20.6667,-40.4975,73.89,68,14,9.42,BR,2021-06-17 17:59:43
19,Saint Andrews,34.0454,-81.1293,84.56,38,1,3.00,US,2021-06-17 17:59:45
32,Jablah,35.3614,35.9256,71.89,68,0,4.61,SY,2021-06-17 17:59:49
62,Chantilly,38.8943,-77.4311,75.87,35,0,3.00,US,2021-06-17 18:00:00

### Find Nearest Hotel

In [7]:
# # Create new dataframe of city geo data; add new column to store hotel name
# hotels_df = ideal_cities.reindex(['City', 'Country', 'Latitude', 'Longitude', 'Date'], axis=1)
# hotels_df['Hotel Name'] = ""
# hotels_df.head()

In [11]:
hotels_df = ideal_cities.reindex(['City', 'Country', 'Latitude', 'Longitude', 'Date'], axis=1)
hotels_df['Hotel Name'] = ""  
# Parameters dictionary for Nearby search requests
params = {
    'location': 'city_geo',
    'types': 'lodging', # keyword
    'radius': 5000, 
    'key': key
}
# Nearby search base URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Iterate through pandas dataframe
for index, row in hotels_df.iterrows():
    try:
        city = row['City']
        lat = hotels_df.loc[index]['Latitude'].copy()
        long = hotels_df.loc[index]['Longitude'].copy()
#         lat = hotels_df.reindex(['Latitude'], axis=1)
#         long = hotels_df.reindex(['Longitude'], axis=1)
        params['location'] = f'{lat},{long}'

        # Construct url and make API request
        print(f'Retrieving Results for Index {index}: {city}.')
        response = requests.get(base_url, params=params)
        json_results = response.json()
        hotel = json_results['results'][0]['name']
#         hotels_df.append(response['results'][0]['name'])
        hotels_df['Hotel Name'][index] = hotel

    except (KeyError, ValueError, IndexError):
        print('Missing field for city of {}...skipping'.format(row['City']))

        print('-'*26)

hotels_df.head(20)

Retrieving Results for Index 13: Rome.
Missing field for city of Rome...skipping
--------------------------
Retrieving Results for Index 14: Guarapari.
Missing field for city of Guarapari...skipping
--------------------------
Retrieving Results for Index 19: Saint Andrews.
Missing field for city of Saint Andrews...skipping
--------------------------
Retrieving Results for Index 32: Jablah.
Missing field for city of Jablah...skipping
--------------------------
Retrieving Results for Index 62: Chantilly.
Missing field for city of Chantilly...skipping
--------------------------
Retrieving Results for Index 73: Broome.
Missing field for city of Broome...skipping
--------------------------
Retrieving Results for Index 79: Hamilton.
Missing field for city of Hamilton...skipping
--------------------------
Retrieving Results for Index 86: Statesboro.
Missing field for city of Statesboro...skipping
--------------------------
Retrieving Results for Index 99: Russell.
Missing field for city of Russell...skipping
--------------------------
Retrieving Results for Index 154: Avera.
Missing field for city of Avera...skipping
--------------------------
Retrieving Results for Index 169: San Jose.
Missing field for city of San Jose...skipping
--------------------------
Retrieving Results for Index 222: Kununurra.
Missing field for city of Kununurra...skipping
--------------------------
Retrieving Results for Index 260: Prainha.
Missing field for city of Prainha...skipping
--------------------------
Retrieving Results for Index 261: NiwÄri.
Missing field for city of NiwÄri...skipping
--------------------------
Retrieving Results for Index 264: Griffith.
Missing field for city of Griffith...skipping
--------------------------
Retrieving Results for Index 267: Bayir.
Missing field for city of Bayir...skipping
--------------------------
Retrieving Results for Index 271: Havelock.
Missing field for city of Havelock...skipping
--------------------------
Retrieving Results for Index 289: Mairi.
Missing field for city of Mairi...skipping
--------------------------
Retrieving Results for Index 354: Alamosa.
Missing field for city of Alamosa...skipping
--------------------------
Retrieving Results for Index 355: Umluj.
Missing field for city of Umluj...skipping
--------------------------
Retrieving Results for Index 357: Bone.
Missing field for city of Bone...skipping
--------------------------
Retrieving Results for Index 368: Granada.
Missing field for city of Granada...skipping
--------------------------
Retrieving Results for Index 370: Mahajanga.
Missing field for city of Mahajanga...skipping
--------------------------
Retrieving Results for Index 385: Bethel.
Missing field for city of Bethel...skipping
--------------------------
Retrieving Results for Index 389: Bandar-e Lengeh.
Missing field for city of Bandar-e Lengeh...skipping
--------------------------
Retrieving Results for Index 454: Albany.
Missing field for city of Albany...skipping
--------------------------
Retrieving Results for Index 464: MaracaÃ§umÃ©.
Missing field for city of MaracaÃ§umÃ©...skipping
--------------------------
Retrieving Results for Index 474: Novokayakent.
Missing field for city of Novokayakent...skipping
--------------------------
Retrieving Results for Index 481: Fairmont.
Missing field for city of Fairmont...skipping
--------------------------
Retrieving Results for Index 498: Westport.
Missing field for city of Westport...skipping
--------------------------
Retrieving Results for Index 511: Mount Vernon.
Missing field for city of Mount Vernon...skipping
--------------------------
Retrieving Results for Index 567: Greenville.
Missing field for city of Greenville...skipping
--------------------------
Retrieving Results for Index 570: Freeport.
Missing field for city of Freeport...skipping
--------------------------
Retrieving Results for Index 628: Paragominas.
Missing field for city of Paragominas...skipping
--------------------------
Retrieving Results for Index 634: Spearfish.
Missing field for city of Spearfish...skipping
--------------------------

,City,Country,Latitude,Longitude,Date,Hotel Name
13,Rome,US,34.2570,-85.1647,2021-06-17 17:57:41,
14,Guarapari,BR,-20.6667,-40.4975,2021-06-17 17:59:43,
19,Saint Andrews,US,34.0454,-81.1293,2021-06-17 17:59:45,
32,Jablah,SY,35.3614,35.9256,2021-06-17 17:59:49,
62,Chantilly,US,38.8943,-77.4311,2021-06-17 18:00:00,
73,Broome,US,42.2506,-75.8330,2021-06-17 18:00:10,
79,Hamilton,US,39.1834,-84.5333,2021-06-17 18:00:10,
86,Statesboro,US,32.4488,-81.7832,2021-06-17 18:00:16,
99,Russell,US,32.3502,-85.1999,2021-06-17 18:00:06,
154,Avera,US,33.1940,-82.5271,2021-06-17 17:58:47,
169,San Jose,US,37.3394,-121.8950,2021-06-17 17:56:38,
222,Kununurra,AU,-15.7667,128.7333,2021-06-17 17:59:53,
260,Prainha,BR,-1.8000,-53.4800,2021-06-17 18:01:38,
261,NiwÄri,IN,28.8833,77.5333,2021-06-17 18:01:39,
264,Griffith,US,41.5284,-87.4237,2021-06-17 18:01:40,
267,Bayir,TR,37.2687,28.2167,2021-06-17 18:01:41,
271,Havelock,US,34.8791,-76.9013,2021-06-17 18:01:43,
289,Mairi,BR,-11.7114,-40.1489,2021-06-17 18:01:50,
354,Alamosa,US,37.4695,-105.8700,2021-06-17 18:02:19,
355,Umluj,SA,25.0213,37.2685,2021-06-17 18:02:19,